<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.style.css">
</head>
<body>  
    {% include 'nav.njk' %}
    <ul class="articles">
        {%- for post in collections.post -%}
            <article class="article">
                <div class="article.text"> 
                    <h3 class="article-info">{{post.data.info}}DIOR VERNIS</h3>
                    <h4 class="article-price">{{post.data.price}}>$28.00</h4>
                    <h4 class="article-arthur">By {{post.data.arthur}} "Gel Coat" resins with intense purity combined with a Techno-Polymer transform each coat of enamel into a film as smooth and shiny as glass. </h4>
                    <a class="article.link" href="{{post.url}}>Continue reading</a>
                </div>
                <img src="{{post.data.image}}" alt="https://image.s5a.com/is/image/saks/0428186250666_A10?wid=480&hei=640&qlt=90&resMode=sharp2&op_usm=0.9,1.0,8,0" class="img-preview">
            </article>

            <article class="article-2">
                <div class="article.text"> 
                    <h3 class="article-title">{{post.data.title}}SADDLE NANO POUCH</h3>
                    <h4 class="article-price">{{post.data.price}}>$800.00</h4>
                    <h4 class="article-info">By {{post.data.info}} "The nano pouch, crafted in blue Dior Oblique jacquard, honors the Saddle line's emblematic codes with its asymmetric flap and antique gold-finish metal 'D' stirrup. A staple of the women's wardrobe, the accessory is ideal for all the daily essentials. The miniature pouch has a removable chain and may be carried by hand, worn over the shoulder or crossbody.</h4>
                    <a class="article.link" href="{{post.url}}>Continue reading</a>
                </div>
                <img src="{{post.data.image}}" alt="https://media.dior.com/couture/ecommerce/media/catalog/product/E/S/1638524717_S5654CTZQ_M928_E11_GHC.jpg?imwidth=800" class="img-preview">
            </article>

            <article class="article-3">
                <div class="article.text"> 
                    <h3 class="article-title">{{post.data.title}}DIO(R)EVOLUTION RING</h3>
                    <h4 class="article-price">{{post.data.price}}>$380.00</h4>
                    <h4 class="article-info">By {{post.data.info}} "The Dio(r)evolution ring is both modern and timeless. Made with gold-finish metal, the style proudly features a central 'DIOR' signature with a crystal pavé. The ring can be paired with other Dio(r)evolution creations.</h4>
                    <a class="article.link" href="{{post.url}}>Continue reading</a>
                </div>
                <img src="{{post.data.image}}" alt="https://media.dior.com/couture/ecommerce/media/catalog/product/E/U/1648219515_R1009DVOCY_D301_E03_GHC.jpg?imwidth=800" class="img-preview">
            </article>

        {%- endfor -%}
    </ul>
        <h1>Blogs</h1>
    </body>
    
</html>
