<!DOCTYPE html>
<html lang="en">
  
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./style/style.css">
    <title>HOME PAGE</title>
  </head>
  
  <body class="dark-mode">
    {% include 'nav.njk' %}
      
      <header class="main">
        <div class="main-container">
          
              
              <div class="sub-container">  
                <h1 class="main-title">DIOR</h1>
                <section class="flowers">
                 <img src="https://i.pinimg.com/564x/ee/e3/b6/eee3b6ed24bd7e416d31e31b0430e830.jpg" alt="">
                 <img src="https://i.pinimg.com/564x/ee/e3/b6/eee3b6ed24bd7e416d31e31b0430e830.jpg" alt="">
                 <img src="https://i.pinimg.com/564x/ee/e3/b6/eee3b6ed24bd7e416d31e31b0430e830.jpg" alt="">
                 <img src="https://i.pinimg.com/564x/ee/e3/b6/eee3b6ed24bd7e416d31e31b0430e830.jpg" alt="">
                 <img src="https://i.pinimg.com/564x/ee/e3/b6/eee3b6ed24bd7e416d31e31b0430e830.jpg" alt="">
                 <img src="https://i.pinimg.com/564x/ee/e3/b6/eee3b6ed24bd7e416d31e31b0430e830.jpg" alt="">
                </section>
              </div>

          <p class="main-first-desc">CHRISTIAN DIOR</p>
          <p class="main-desc">Founder of Dior, a luxury goods company famed for revolutionizing the women’s fashion industry. The brand has been cited as the catalyst for Paris’ revival as the fashion capital of the world after it fell from its prominent position after WWII.</p>
        </div>
        <div class="main-image"></div>
      </header>
    <script type="module" src=""></script>
  </body>

</html>





