@import url("./style/variables.css");
@import url("https://fonts.googleapis.com/css2?family=Mountains+of+Christmas:wght@700&family=Scheherazade+New&family=Short+Stack&family=Varela+Round&display=swap");

body {
  background-color: var(--primary);
  font-family: "Scheherazade New", serif;
  font-size: 1.05rem;
  color: var(--fourth);
}
.main-container {
  text-align: center;
}
.main-title {
  font-size: 2rem;
}
.main-first-desc {
  text-decoration: underline;
}

.buttons {
  background-color: var(--third);
}

.header {
  background-color: var(--primary);
}
.header-title {
  text-align: center;
  background-color: #fff9f6;
  text-decoration: overline underline var(--fifth) 3px;
  padding: 0;
  margin: 0;
}
.header-link {
  text-decoration: none;
  font-size: 2rem;
  padding: 1vh;
  margin: 2rem;
  color: #524339;
  font-weight: 800;
  background-color: var(--third);

  class it here....
}


.main-article {
  text-align: center;
}

.article-text {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 30%;
  margin: 1rem auto;
  padding: 3rem;
  padding-top: rem;
}
.img-preview {
  height: 30rem;
}

.articles{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.article-link {
  font-size: 1rem;
  background-color: var(--thrid);
  border-color: var(--fourth);
  border-style: solid;
  border-width: 2px;
  text-decoration: none;
  margin: 1rem;
}

.figure-image {
  height: 80%;
  width: 25rem;
  margin-top: 2rem;
}

:root {
  --pink: #fff8f0;
  --green: #eeeadd;
  --boxL: #f9efe4;
  –-boxD: #EEEADD;
  –-buttonL: #ede3d8;
  –-buttonD: #f0dfbd;
  --brown: #4e4337;
  --backgroundL: ;
  --backgroundD: #eed9af;
}
 
.light-mode {
  --primary: var(--pink);
  –-secondary: var(--boxL);
  –-third: var(--buttonL);
  –-fourth: var(--brown);
}
.dark-mode {
  --primary: var(--green);
  –-secondary: var(--boxD);
  –-third: var(--buttonD);
  –-fourth: var(--brown);
  --fifth: var(--backgroundD);
}
