@import url("./style/variables.css");
@import url("https://fonts.googleapis.com/css2?family=Mountains+of+Christmas:wght@700&family=Scheherazade+New&family=Short+Stack&family=Varela+Round&display=swap");

body{
    background-color: #EEEADD;
    font-family: "Scheherazade New", serif;
    font-size: 1.05rem;
    color: #524339;
}
.main-container{
    text-align: center;
}
.main-title{
    font-size: 2rem;
}
.main-first-desc{
    text-decoration: underline;
}





.header{
    background-color: #EEEADD;
}
.header-title{
    text-align: center;
    background-color: #FFF9F6;
    text-decoration: overline underline #EED9AF 3px;
    padding: 0;
    margin: 0;
}
.main-article{
    text-align: center;
}
.desk-nav{
    text-align: center;
}



