@import url("./variables.css");
@import url("https://fonts.googleapis.com/css2?family=Mountains+of+Christmas:wght@700&family=Scheherazade+New&family=Short+Stack&family=Varela+Round&display=swap");
*,
html,
body {
  font-family: "Scheherazade New", serif;
  background-color: red;
}

.header-title {
  font-weight: 700;
  margin: 3rem auto;
}
