<nav class="desk">
    <ul role="list" class="desk-nav">
    <div>
        <a href="/" class="header-link">Home</a>
    </div>
    <div>
        <a href="/blogs/" class="header-link">Most Affordable</a>
    </div>


    </ul>
</nav>
